<div class="row text-center">
  <h2>Add a Dealership</h2>
</div>

<form action="/dealerships" method="post">
  <div class="form-group">
    <label for="dealership_name"></label>
    <input type="text" name="dealership_name" required class="form-control" placeholder="ex: 'Dave's Dealership' ">
  </div>

  <button class="btn btn-success" type="submit">Add</button>
</form>
