<div class="row text-center">
  <h1>Welcome to Dealership World</h1>
</div>

<a class=" btn btn-primary" href="/dealership_form">Add a Dealership</a><br>
<a class=" btn btn-primary" href="/dealerships">View Dealerships</a>
