<div class="row text-center">
  <h1>Welcome to Dealership World</h1>
</div>
<br>
<div class="row text-center index-btn">
  <div class="col-md-6 text-right index-btn">
    <a class="btn btn-primary" href="/dealership_form">Add a Dealership</a><br>
  </div>
  <div class="col-md-6 text-left index-btn">
    <a class="btn btn-primary" href="/dealerships">View Dealerships</a>
  </div>

</div>
